@import '../../../../../customStyles/layouting';
@import '../../../../../customStyles/colors';

.hide {
    display: none;
}

.show {
    display: block;
}

.form-body {
    background-color: white;
}

.form-info {
    & h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */


        color: #002855 !important;
    }

    & p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */
    }
}

.tab-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        /* identical to box height */
        color: #C4C4C4;
    }

    

    
}
.btns {
    background: #DFE6EC;
    border-radius: 5px;
    padding: 6px 11px;
    color: #C4C4C4;
    margin: 0 5px;
}
.buttonAct {
    background: #DDAD31;
    color: white;
    border-radius: 5px;
    padding: 6px 11px;
    color: #C4C4C4;
    margin: 0 5px;
}
.tab1 {
    & form {
        display: none;
        flex-direction: space-between;
        font-size: 14px;

        & .left,
        .ryt {
            width: 50%;
            margin: 0 1rem;
        }
    }

    input,
    label {
        color: #002855 !important;
        font-weight: 600 !important;
    }

    input,
    select,
    label {
        width: 50% !important;
    }

    .fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input,
    select,
    textarea {
        background-color: #F8FBFD;
        padding: 8px 14px;
        border: 1px solid rgba(0, 51, 102, 0.2);
        font-size: 14px !important;
    }
}

.tab2 {
    & form {
        font-size: 14px;

    }

    input,
    label {
        color: #002855 !important;
        font-weight: 600 !important;
    }

    input,
    select,
    textarea {
        background-color: #F8FBFD;
        padding: 8px 14px;
        border: 1px solid rgba(0, 51, 102, 0.2);
        font-size: 14px !important;
        width: 100%;
    }
}

.rowFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & label {
        margin: 0 10px;
    }   
}

.flex_group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    gap: 1.5rem;
}




.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;

    & select {
        width: 100% !important;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        font-size: 18px;
        font-weight: 600;
        color: #002855;
    }
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.new-buyer {
    border: 1px solid $fbn-text;
    padding: 6px 1.2rem;
    margin: 10px 0;
    color: $fbn-text;
    font-weight: 600;
    font-size: 12px;
}

.tab-btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.fbn-fill-blue-btn {
    border-radius: 100px;
    padding: 10px 1rem;
    background-color: $fbn-blue ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 10px;
}


.fbn-blue-btn {
    border-radius: 100px;
    padding: 8px 15px;
    border: 2px solid $fbn-blue;
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

thead {
    padding: 12px 15px !important;
    background-color: #002855;
    font-size: 15px;
    color: white;

    & th {
        padding: 12px 5px !important;
    }
}

tbody tr {
    border: 1px solid #C4C4C4;

    & td {
        padding: 12px !important;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #002855;
    margin: 1rem 0;
}

.add-new {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    width: 100% !important;
}

.form-border {
    border: 1px solid #C4C4C4;
    padding: 1rem;

}

.tab3 {
    & h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 16px;
        text-transform: capitalize;

        color: #002855;

    }

    & {
        textarea {
            background-color: #F8FBFD;
            padding: 8px 14px;
            border: 1px solid rgba(0, 51, 102, 0.2);
            font-size: 14px !important;
            width: 100%;
        }
         p{
            margin: 0;
            color: #002855;
         }
    }
}

.back_button{
    cursor: pointer;
    display: inline;
    padding: 2px 5px;
    &:hover{
        border: 1px solid rgba(100, 100, 111, 0.2);
        border-radius: 28px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

}

.cancel_out:hover{
    cursor: pointer;
    border: 1px dashed #002855;
}

.addNewItem{
    cursor: pointer;
}

.fbn-fill-blue-btn, .fbn-blue-btn{
    transition: all 350ms ease-in-out;
   &:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transform: translateY(-5px) scale(1.01);
   }

   &:disabled{
    pointer-events: none;
    opacity: .25;
   }
}


 #tax_currency, #tax_currency_second, #discount_currency_second, #miscellaneous_currency_second, #discount_currency, #miscellaneous_currency{
    position: absolute;
    width: 44%;
    left: -16px;
    border-color: transparent;
    border: none;
    pointer-events: none;
}

#tax_figure, #discount, #miscellaneous{
    padding-left: 10% !important;
}

#tax_percentage, #discount_percentage{
    padding-left: 47%;
}

#tax_currency, #discount_currency{
    left: unset;
    right: -16px;
    width: 38%;
    & .percentage{
        appearance: unset;
    }   
}

#tax_currency_second, #discount_currency_second, #miscellaneous_currency_second {
    width: 38%;
     select{
        padding: 8px 8px;
    }
}



table:focus-within{
    
}

input[type=text], input[type=date]{
    &.ng-invalid.ng-touched{
        outline: 2px solid tomato;
        outline-offset: 2px;
    }

    & + small{
        color: tomato;
        left: 50%;
        bottom: -17px;
    }   
}

#buyer.ng-invalid.ng-touched{
    outline: 2px solid tomato;
    outline-offset: 2px;

    & ~ small{
        color: tomato;
        // left: 50%;
        bottom: -17%;
    }
}


.attachmentTriggerBtn:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transform: translateY(-5px) scale(1.01);
     transition: transform 250ms ease-in-out;
   }