@mixin row-Flex {
    display: flex;
    flex-direction: row;
}

@mixin centered-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin between-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin even-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-start-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flex-end-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin centeredModal {
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;

    padding: 10px;
    height: fit-content;

    & h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin: 15px 0;
        text-align: left;
    }
}

@mixin rightModal {
    top: 120%;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 50;
    right: 0;

    padding: 10px;
    width: 40%;
    height: fit-content;

    & h1 {
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
        margin: 15px 0;
        text-align: left;
    }
}

@mixin centered-modal-with-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: visible;
    opacity: 1;
}