@import '../../../../../customStyles/colors';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../../../../customStyles/layouting.scss';


.centeredRowFlex {
    @include centered-flex-row;

}

.flex {
    @include row-Flex;

}

.flex-startrow {
    @include flex-start-row;

}

.flex-startend {
    @include flex-end-row
}

.flex-between {
    @include between-flex-row
}
.flex-even {
    @include between-flex-row
}

.flex-col {
    @include flex-column
}

.flex-colstart {
    @include flex-column-start
}

.flex-colend {
    @include flex-column-end
}

.flex-colcenter {
    @include flex-column-center
}

.fbn-mx {
    margin: 0 4px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: $fbn-text ;
}



.inputBox {
    box-shadow: $fbn-light-shadow;

    // border: 1px solid $fbn-gray-bg !important;
    border: none;
    // padding: 8px;

}


.filter {
    background-color: white;
    margin: 0 8px;
    width: 44px;
    height: 44px;
    box-shadow: $fbn-light-shadow;
}

.search {
    background-color: $fbn-gray-bg;
    width: 48px;
    height: 44px;
}

input {
    width: 384px;
    height: 44px;
    padding: 5px;
    border: none;
}

input:focus {
    outline: none;
}
button{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.btn{
    padding: 10px 40px;
    background-color: white;
    margin: 0 3px;
}
.active-btn-bg{
    padding: 10px 40px;
    background-color: $fbn-blue;
    color: white;
}

table {
    width: 100%;
    background-color: $fbn-gray-bg;
    text-align: left;
    color: $fbn-text;
    margin: 10px 0;
}

.bodyRow,
.headRow {
    border-bottom: 3px solid $fbn-gray-bg;
    background-color: white;

    & th,
    td {
        padding: 10px;

    }
}

.headRow {
    th {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.bodyRow {
    td{
        font-style: normal;
        font-weight: 300 !important;
        font-size: 14px;
        line-height: 16px;
        padding: 12px !important;
        color: $fbn-text;
        // margin: 1rem 0 !important;
    }
    .actionIcn{
        font-weight: 200 !important;
        color: $fbn-text;
    }
}
.buyer {
    background: $fbn-light-green;
    color: $fbn-text-green;
    text-align: center;
    padding: 5px 8px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100% !important;
}

.seller {
    background-color: $fbn-light-yellow;
    color: $fbn-text-yellow;
    text-align: center !important;
    padding: 5px 8px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.deleteInput {
    background-color: $fbn-gray-bg;
    padding: 8px 12px;
    border: 1px solid rgba(0, 51, 102, 0.2);
    font-size: 16px;
}
fa-icon{
    color: $fbn-text;
    font-weight: 100 !important;
}