<app-header></app-header>
<div class="page-wrapper">
    <app-sidebar></app-sidebar>

    <!-- MAIN CONTENT-->
    <main class="main-content">
        <div class="main-content-padding p-3">
            <p (click)="goBack()" class="my-4">Back</p>
            <div class="conf-d bg-white p-3">
                <app-table style="width: 100%;" [tableHeaders]='tableHeaders'>
                    <tbody>
                        <tr class="bodyRow cursor-pointer" *ngFor="let content of pasrsedData$">
                            <td *ngIf="role === 'buyer'">
                                {{content["Buyer Name"]}}
                            </td>
                            <td *ngIf="role === 'supplier'">
                                {{content["Supplier Name"]}}
                            </td>
                            <td>
                                {{content["Company Name"]}}
                            </td>
                            <td>
                                {{content?.Industry}}
                            </td>
                            <td>
                                {{content?.Country}}
                            </td>
                            <td>
                                {{content?.Currency}}
                            </td>
                            <td>
                                {{content["Company Email"]}}
                            </td>
                            <td>
                                {{content["Company Phone Number"]}}
                            </td>
                            <td>
                                {{content["Company Tin"]}}
                            </td>
                            <td>
                                {{content["Company Rc Number"]}}
                            </td>
                            <td>
                                {{content?.Tier}}
                            </td>
                            <td>
                                {{content?.Limit}}
                            </td>
                            <td *ngIf="role === 'supplier'">
                                {{content["Min Annual Spend"]}}
                            </td>
                            <td *ngIf="role === 'supplier'">
                                {{content["Max Annual Spend"]}}
                            </td>
                            <td *ngIf="role === 'supplier'">
                                {{content["Bank Name"]}}
                            </td>
                            <td *ngIf="role === 'supplier'">
                                {{content["Account Number"]}}
                            </td>
                        </tr>
                    </tbody>

                </app-table>

                
                <!-- <div class="error">
                    <p class="text-center  text-xs">
                        No data found
                    </p>
                </div> -->
            </div>
            <div class="flex-startend">
                <p (click)="goBack()" style="cursor: pointer;" class=" fbn-red-btn mx-3">Camcel</p>
                <button (click)=" upLoadFile()"   class="fbn-fill-green-btn">Save</button>
            </div>
        </div>
    </main>
</div>