.border{
    border: 2px solid rgba(0, 51, 102, 0.2)!important;
}
.text-sm{
    font-size: 10px;
}
.list-group{
    position: absolute;
    z-index: 200;
    width: 90%;
}
.list-group-item{
    font-size: 12px;
}
.btn-login{
    height: 40px;
}
.text-bold{
    font-weight: 600;
}