bg-white{
    background-color:#fff;
}
.text-blue{
    color: #022E64;
}
.bg-blue{
    background-color: #022E64;
}
.btn-md{
    width: 200px;
}
.bg-white{
    border: 1px solid #022E64;
}
.main-ads{
    height: 100vh;
    background-color: #efefef;
}
.pd-custom{
    padding: 5rem 10rem 0 10rem;
}