<app-header></app-header>
<div class="page-wrapper">
    <app-sidebar></app-sidebar>

    <!-- MAIN CONTENT-->
    <main class="main-content">
        <div class="main-content-padding p-3">
            <div class="conf-d bg-white p-3">
                <div class="flex py-5 my-2">
                    <h1 [routerLink]="['/scm']" class="text-fbn-blue font-semibold">Back</h1>
                </div>

                <div class="my-3 ">
                    <div class="my-3">
                        <h1 class="text-fbn-blue headers text-lg font-semibold">Preview Buyer's Information</h1>
                        <p class="text-xs disclaimer">Kindly go through the information before clicking the button below</p>
                    </div>

                    <div class="flex flex-col form  text-fbn-blue pt-3  px-3 w-[50%] justify-start border-2 border-fbn-gray-bg">
                        <div style="width: 80%;" class="mt-3 pb-0 p-3">
                            <h1 class="text-fbn-blue headers text-lg font-semibold">Basic Information</h1>
                            <div class="fields  my-5">
                                <h1>{{customerDetails?.role}}'s name</h1>
                                <p>{{customerDetails?.customerName}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Company name</h1>
                                <p>{{customerDetails?.companyName}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Industry</h1>
                                <p>{{customerDetails?.industryId}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>{{customerDetails?.role}}'s Code</h1>
                                <p>{{customerDetails?.customerCode}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>RC Number</h1>
                                <p>{{customerDetails?.rcNumber}}</p>
                            </div>
                            <!-- <div class="fields  my-5">
                                <h1>'s name</h1>
                                <p>{{customerDetails?.}}</p>
                            </div> -->
                        </div>

                        <div style="width: 80%;" class="my-3 p-3 contact border-t-2 border-fbn-gray-bg">
                            <h1 class="text-fbn-blue headers text-lg font-semibold">Contact Information</h1>
                            <div class="fields  my-5">
                                <h1>Company Email</h1>
                                <p>{{customerDetails?.email}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Company Phone No</h1>
                                <p>{{customerDetails?.mobileNumber}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Country</h1>
                                <p>{{customerDetails?.countryId}}</p>
                            </div>
                        </div>

                        <div style="width: 80%;" class="my-3 contact p-3 border-t-2 border-fbn-gray-bg">
                            <h1 class="text-fbn-blue headers  text-lg font-semibold">Account Information</h1>
                            <div class="fields  my-5">
                                <h1>Currency</h1>
                                <p>NGN</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Tier</h1>
                                <p>{{customerDetails?.tierId}}</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Rank</h1>
                                <p>XYZ</p>
                            </div>
                            <div class="fields  my-5">
                                <h1>Limit</h1>
                                <p>NGN {{customerDetails?.limits}}</p>
                            </div>
                            <div *ngIf="customerDetails?.role === 'supplier'" class="fields  my-5">
                                <h1>Minimum Spend</h1>
                                <p>NGN {{customerDetails?.minimumAnnualSpend}}</p>
                            </div>
                            <div *ngIf="customerDetails?.role === 'supplier'" class="fields  my-5">
                                <h1>Maximum Spend</h1>
                                <p>NGN {{customerDetails?.maximumAnnualSpend}}</p>
                            </div>
                            <div *ngIf="customerDetails?.role === 'supplier'" class="bankField  my-5">
                                <h1>Bank Information</h1>
                                <div class="flex-colstart">
                                    <p>{{customerDetails?.bankName}}</p>
                                    <p>{{customerDetails?.accountNumber}}</p>
                                    <p>{{customerDetails?.customerName}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="contact mt-3 pt-3  px-3 border-t-2 border-fbn-gray-bg">
                            <p class="text-sm m-0">Date Created: {{today | date: 'dd/MM/yyyy'}} </p>
                        </div>

                    </div>

                    
                </div>
                <div 
                class="flex-startend"
                style="width: 55%;"
                >
                    <button (click)="goBackToForm()" class="fbn-blue-btn mx-3">Cancel</button>
                    <button (click)="addCustomer()" class="fbn-fill-blue-btn">Confirm</button>
                </div>
            </div>
        </div>
    </main>
    <!-- END MAIN CONTENT-->
</div>



<app-centered-modal-wrapper *ngIf="isSuccessModalOpen">
    <div style="width: 50%;" class="modalAdd blowUp p-4">
        <div class="flex-colend my-2">
            <div class="my-2">
                <h1 class="text-fbn-blue modalTitle font-semibold text-lg">Success!</h1>
            </div>
            <div class="my-2">
                <p class=" text-fbn-text">
                    New {{customerDetails?.role}}'s created successfully
                </p>
            </div>
            <div class="my-2">
                <button (click)="toggleSuccessModal()" class="fbn-px-fill-blue-btn">CLOSE</button>
            </div>
        </div>
    </div>


</app-centered-modal-wrapper>