<div class="page-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-container">

        <main class="main-content">
            <div class="main-content-padding">
                <div class="mb-3">
                    <h4 class="font-18px text-grey">Foreign Payments</h4>
                </div>
                <div class="instruction__wrapper p-4">
                    <div class="row">
                        <div class="col-lg-12">
                           <div class="instruction__wrapper-header position-fixed">
                               <div class="w-100">
                                    <h6>Settlement Instruction</h6> <br />
                                    <h5>Receive funds from a foreign account</h5>
                                    <small>Please use the required detials in order to receive funds <br /> to your foreign account</small>    
                               </div>
                            </div>
                           <div class="instruction__wrapper-body">
                                <div class="row">
                                    <div class="col-2">
                                      <div class="list-group position-fixed" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Dollar (USD)</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Pound (GBP)</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Euro (EUR)</a>
                                      </div>
                                    </div>
                                    <div class="col-8">
                                      <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    STANDARD CHARTERED BANK, NEW YORK 	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Standard Chartered Bank, New York </h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>SCBLUS33</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ABA NO</small> 
                                                         <h6>026002561</h6>   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nig Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>3582-059964-001</h6>
                                                    </div>
                                                  </div>  
                                                 </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    DEUTSCHE BANK TRUST COMPANY, NEW YORK 	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Deutsche Bank Trust Company, New York </h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>BKTRUS33</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ABA NO</small> 
                                                         <h6>021001033</h6>   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>04-435-001</h6>
                                                    </div>
                                                  </div>  
                                                 </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    CITIBANK, NEW YORK	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Citibank, New York</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>CITIUS33</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ABA NO</small> 
                                                         <h6>021000089</h6>   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>36202288</h6>
                                                    </div>
                                                  </div>  
                                                 </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    J.P. MORGAN CHASE, NEW YORK	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>J.P. Morgan Chase, New York</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>CHASUS33</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>579229813</h6>
                                                    </div>
                                                  </div>  
                                                 </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    HSBC BANK UK	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>HSBC Bank UK</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>CHASUS33</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>FOR FURTHER CREDIT (FFC)</small>
                                                        <h6>FBN Bank (UK) Limited </h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNIGB2L</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SORT CODE</small>
                                                        <h6>405204</h6>
                                                    </div>
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc, Lagos</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT / IBAN NO</small>
                                                        <h6>GB17FBNI40520410039601</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    STANDARD CHARTERED BANK, LONDON	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Standard Chartered Bank, London</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>SCBLGB2L</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc, Lagos</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>02176066101</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    HSBC, LONDON	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>HSBC, London</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>MIDLGB22</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;   
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>39146516</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    DEUTSCHE BANK, FRANKFURT	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Deutsche Bank, Frankfurt</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>DEUTDEFF</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ABA NO</small> 
                                                       <h6>026002561</h6>  
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>DE56500700100955716600</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>


                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    STANDARD CHARTERED BANK, FRANKFURT	
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Standard Chartered Bank, Frankfurt</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>SCBLDEFX</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>DE23512305000050002304</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    FBN BANK UK LTD 
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>FBN Bank UK Ltd </h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>FBNIGB2L</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>GB17FBNI40520410039601</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    CITIBANK EUROPE PLC
                                                </div>
                                                <div class="card-body">
                                                  <div class="row mb-3 card-body__row">
                                                    <div class="col-md-6">
                                                        <small>CORRESPONDENT BANK NAME</small>
                                                        <h6>Citibank Europe Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                       <small>SWIFT CODE</small> 
                                                       <h6>CITIIE2X</h6>
                                                    </div>
                                                    <div class="col">
                                                        &nbsp;
                                                    </div>  
                                                  </div>
                                                  <div class="w-100">
                                                    <hr>
                                                  </div>
                                                  <div class="row card-body__row">
                                                    <div class="col-md-6">
                                                        <small>BENEFICIARY INSTITUTION</small>
                                                        <h6>First Bank of Nigeria Plc</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>SWIFT CODE</small>
                                                        <h6>FBNINGLA</h6>
                                                    </div>
                                                    <div class="col">
                                                        <small>ACCOUNT NO</small>
                                                        <h6>GB40CITI18500813401596</h6>
                                                    </div>
                                                  </div>  
                                                </div>
                                            </div>

                                        </div>
                                      </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
