@import '../../../../../../customStyles/colors';

.headerTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $fbn-text;
}
.buttons{
    color: $fbn-blue !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.headerBtn{
    background-color: $fbn-gold !important;
    border-radius: 8px !important;
    padding: 8px 1rem !important;
    margin: 5px     !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../../../../../customStyles/layouting';
// @import '../../../../../../customStyles/colors';


.centeredRowFlex {
    @include centered-flex-row;

}

.flex {
    @include row-Flex;

}

.flex-startrow {
    @include flex-start-row;

}

.flex-startend {
    @include flex-end-row
}

.flex-between {
    @include between-flex-row
}
.flex-even {
    @include between-flex-row
}

.flex-col {
    @include flex-column
}

.flex-colstart {
    @include flex-column-start
}

.flex-colend {
    @include flex-column-end
}

.flex-colcenter {
    @include flex-column-center
}

.fbn-mx {
    margin: 0 4px;
}

.hidden {
    display: hidden;
}

.block {
    display: block;
}

.modal-overlay {
    @include centered-modal-with-overlay
}

.modal {
    @include centeredModal
}
.right-modal{
    @include rightModal
}

.fbn-bg-white {
    background-color: white;
}

.fbn-fill-blue-btn {
    border-radius: 100px;
    padding: 8px 15px;
    background-color: $fbn-blue ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-px-fill-blue-btn {
    border-radius: 100px;
    padding: 8px 2rem;
    background-color: $fbn-blue ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-fill-green-btn {
    border-radius: 100px;
    padding: 8px 15px;
    background-color: $fbn-text-green ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-fill-yellow-btn {
    border-radius: 100px;
    padding: 8px 15px;
    background-color: $fbn-text-yellow !important;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-yellow-btn {
    border-radius: 100px;
    padding: 8px 15px;
   border: 1px solid $fbn-text-yellow;
    color: $fbn-text-yellow;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-blue-btn {
    border-radius: 100px;
    padding: 8px 15px;
   border: 2px solid $fbn-blue;
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.fbn-px-blue-btn {
    border-radius: 100px;
    padding: 8px 3rem;
   border: 1px solid $fbn-blue;
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
table {
    width: 100%;
    background-color: $fbn-gray-bg;
    text-align: left;
    color: $fbn-text;
    margin: 10px 0;
}

.bodyRow,
.headRow {
    border-bottom: 3px solid $fbn-gray-bg;
    background-color: white;

    & th,
    td {
        padding: 10px;

    }
}

.headRow {
    th {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.bodyRow {
    td {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        // margin: 1rem 0 !important;
    }
}
