<div>
    <div class="flex py-5 my-2">
        <h1 [routerLink]="['/dashboard/onboarding']" class="text-fbn-blue font-semibold">Back</h1>
    </div>

    <div class="my-3 bg-white p-5 px-8">
        <h1 class="text-fbn-blue text-lg my-3 font-semibold">Editing Buyer's Profile</h1>

        <form>
            <div class="flex justify-center ">
                <div class=" w-[50%] p-4">
                    <div class="flex-between my-5">
                        <label for="">'s name</label>
                        <input type="text" placeholder="Enter Name">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Company Name</label>
                        <input type="text" placeholder="Enter Name">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Industry</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Country</label>
                        <input type="text" placeholder="Select Country">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Currency</label>
                        <input type="text" placeholder="Select Currency">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Company Email</label>
                        <input type="text" placeholder="Select Company Email">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Company Phone No</label>
                        <input type="text" placeholder="Select Company Phone No">
                    </div>
                </div>
                <div class=" w-[50%] p-4">
                    <div class="flex-between my-5">
                        <label for="">'s Code</label>
                        <input type="text" placeholder="Select 's Code">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Tax Id Number</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">RC Number</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Rank</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Tier</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                    <div class="flex-between my-5">
                        <label for="">Limit</label>
                        <input type="text" placeholder="Select Industry">
                    </div>
                </div>
            </div>
           
        </form>
        
    </div>
    <div class="flex-startend">
        <button class="p-5 py-1 rounded-full border border-red font-semibold text-red mx-3">Camcel</button>
        <button [routerLink]="['/dashboard/onboarding/confirm-details']"  class="fbn-fill-green-btn">Save</button>
    </div>
</div>
