
@import '../../../../../customStyles/layouting';
@import '../../../../../customStyles/colors';
input, select {
    background-color: #F8FBFD;
    padding: 8px 14px;
    border: 1px solid rgba(0, 51, 102, 0.2);
    font-size: 14px !important;
}

.conf-d h1{
    font-size: 1rem !important;
}


.conf-d h1{
    font-size: 1rem !important;
}

.headers {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #002855;
}

.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bankField{
    display: flex;
    justify-content: space-between;

}

.flex-startend{
    display: flex;
    justify-content: flex-end;
}
.flex-colstart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact {
    border-top: 1px solid rgba(0, 51, 102, 0.2);
}

.fbn-fill-green-btn {
    border-radius: 100px;
    padding: 8px 30px;
    background-color: $fbn-text-green ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 19px;
}

.fbn-red-btn {
    border-radius: 100px;
    padding: 8px 26px;
    background-color: transparent ;
    border: 1px solid red;
    color: red;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: fit-content;
    margin: 0;
}

.form {
    border: 2px solid $fbn-gray-bg;
    padding: 1.5rem;
    width: 55%;
    margin-top: 1.5rem;
    color: #002855 !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.disclaimer{
    color: black !important;
    font-weight: 600 !important;
}

.fields p, .bankField p{
    font-weight: 600 !important;
}

.modalTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #002855 !important;
}

.rowFlex{
    display: flex;
    justify-content: space-between;
}

input, label{
    color: #002855 !important;
    font-weight: 600 !important;
}
 input, select{
    width: 60% !important;
}
label{
    width: 40% !important;
}