@import '../../../../../../customStyles/colors';
@import '../../../../../../customStyles/layouting';
.cards {
    background-color: white;
    width: 15rem;
    height: 11%;
    padding: 13px 15px;
    position: static;

}

.icon {
    width: fit-content;
    background-color: $fbn-gray-bg;
    padding: 15px;
    border-radius: 10rem;
    margin: 10px 0;
}



.figure {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $fbn-blue  !important;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: fit-content;
    color: $fbn-blue;
    border: 1px solid $fbn-blue !important;
    padding: 2px 4px;
}





.centeredRowFlex {
    @include centered-flex-row;

}

.flex {
    @include row-Flex;

}

.flex-startrow {
    @include flex-start-row;

}

.flex-startend {
    @include flex-end-row
}

.flex-between {
    @include between-flex-row
}

.flex-even {
    @include between-flex-row
}

.flex-col {
    @include flex-column
}

.flex-colstart {
    @include flex-column-start;
    // align-items: center;
}

.flex-colend {
    @include flex-column-end
}

.flex-colcenter {
    @include flex-column-center
}

// .fbn-mx {
//     margin: 0 4px;
// }

// .hidden {
//     display: hidden;
// }

// .block {
//     display: block;
// }

// .modal-overlay {
//     @include centered-modal-with-overlay
// }

// .modal {
//     @include centeredModal
// }
// .right-modal{
//     @include rightModal
// }

.fbn-bg-white {
    background-color: white;
}

.fbn-fill-blue-btn {
    border-radius: 100px;
    padding: 8px 15px;
    background-color: $fbn-blue ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fbn-px-fill-blue-btn {
    border-radius: 100px;
    padding: 8px 2rem;
    background-color: $fbn-blue ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fbn-fill-green-btn {
    border-radius: 100px;
    padding: 8px 15px;
    background-color: $fbn-text-green ;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fbn-yellow-btn {
    border-radius: 100px;
    padding: 8px 15px;
    border: 1px solid $fbn-text-yellow;
    color: $fbn-text-yellow;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fbn-blue-btn {
    border-radius: 100px;
    padding: 8px 15px;
    border: 2px solid $fbn-blue;
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.fbn-px-blue-btn {
    border-radius: 100px;
    padding: 8px 3rem;
    border: 1px solid $fbn-blue;
    color: $fbn-blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


.cardTitle {
    font-size: 10px;
}

// responsive classes



@media screen and (min-width: 1024px) {
    .cardTitle {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        margin-bottom: 0;
        text-transform: uppercase;
        color: #535353;
    }
}