<app-header></app-header>
<div class="page-wrapper">
    <app-sidebar></app-sidebar>
    <main class="main-content">
        <div class="main-content-padding px-4 py-3">
            <app-header-scm headerTitle={{headerTitle}}  btnText1="New Buyer" btnText2="New Supplier">
                <app-buttons (clicker)="navigateToForm()"  btnText="Create LPO" iconType="add" class="fbn-fill-blue-btn mx-3">
                </app-buttons>
                <app-buttons (clicker)="navigate(6)"  btnText="Accept LPO" iconType="check" class="mx-3 fbn-blue-btn">
                </app-buttons>
                <app-buttons (clicker)="navigateToOrderUploader()" btnText="Upload LPO" iconType="upload" class="fbn-blue-btn">
                </app-buttons>
            </app-header-scm>

            <div class="fadeIn">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>