
<div class="onboarding-form-div p-4">
<div class="d-flex align-items-center flex-wrap">
    <h6 class="font-18px f-weight700 font-blue">Company registration</h6>
    <div class="px-2 d-flex align-items-center">
        <div class="active-onboarding-step font-16px">1</div>
        <span class="px-2 font-16px font-blue">of 5</span>
    </div>
</div>
<div class="yellow-horizontal-line mt-1"></div>
<div class="mt-4">
    <h6 class="font-18px font-blue mb-0">Please enter your account details</h6>
    <p class="text-danger font-12px">You must have an account with FirstBank to use FirstDirect 2.0</p>
    <div class="form-row align-items-center mt-4">
        <div class="col-xl-4 col-md-4">
            <label for="transfer-from" class="mb-0 font-12px font-blue f-weight500">Account number</label>
        </div>
        <div class="col-xl-8 col-md-8">
            <input type="text" class="form-control input-field">
        </div>
    </div>
    <div class="form-row justify-content-end">
        <div class="col-xl-8 col-md-8">
            <span class="font-12px">Have an onboarding code? <a href="#" class="font-12px f-weight500">Enter here</a></span>
        </div>
    </div>
    <div class="form-row justify-content-between mt-5">
        <div class="col-xl-5 col-md-6 mb-3">
            <input type="submit" class="btn btn-submit" value="NEXT">
        </div>
    </div>
</div>
</div>