<div class="modal fade" id="summary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" modal-backdrop>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-md-10">
                    <h5 class="font-blue text-center">{{item.schemeName}}</h5>
                    <p class="font-12px text-center f-weight500"></p>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-xl-6 col-md-6">
                            <button class="btn btn-add-beneficiary"  data-dismiss="modal">No</button>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <button class="btn btn-submit" data-toggle="modal" (click)=proceed()>Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>