<app-header></app-header>
<div class="page-wrapper">
    <app-sidebar></app-sidebar>

    <!-- MAIN CONTENT-->
    <main class="main-content">
        <div class="main-content-padding p-3">
            <div class="form">
                <div class="flex">
                    <div [routerLink]=" ['/scm'] " class="centeredRowFlex mx-3">
                        <!-- <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.27501 7.7874C4.52542 8.00442 4.90436 7.97736 5.12138 7.72694C5.33841 7.47653 5.31134 7.0976 5.06093 6.88057L4.27501 7.7874ZM1.33464 4.4451L0.925245 4.00646C0.800852 4.12256 0.731604 4.28602 0.734737 4.45615C0.737871 4.62627 0.813092 4.78707 0.941677 4.89851L1.33464 4.4451ZM5.07736 1.77262C5.31961 1.54652 5.3327 1.16684 5.1066 0.924594C4.8805 0.682343 4.50083 0.669251 4.25858 0.895352L5.07736 1.77262ZM5.06093 6.88057L1.72759 3.99168L0.941677 4.89851L4.27501 7.7874L5.06093 6.88057ZM1.74403 4.88373L5.07736 1.77262L4.25858 0.895352L0.925245 4.00646L1.74403 4.88373Z"
                                fill="#022E64" />
                        </svg>
                        <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.334 1.33398L1.00065 1.33398" stroke="#022E64" stroke-width="1.5" stroke-linecap="round" />
                        </svg> -->
                    </div>
                    <p [routerLink]=" ['/scm'] ">Back</p>
                </div>

                <div class="innerForm">
                    <div class="flex-colend">
                        <div>
                            <h1 class="headers">Add New {{role}}</h1>
                            <p>Please fill the form below to create a {{role}}’s profile</p>
                        </div>

                        <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
                            <div class="my-5">
                                <h2 class="headers">Basic Information</h2>

                                <div class="fields my-5">
                                    <label for="">{{role}}'s name</label>
                                    <input formControlName="customerName" type="text" placeholder="Enter Name">
                                </div>
                                <div class="fields my-5">
                                    <label for="">Company Name</label>
                                    <input formControlName="companyName" type="text" placeholder="Enter Company Name">
                                </div>
                                <div class="fields my-5">
                                    <label for="">Industry</label>
                                    <!-- select -->

                                    <select formControlName="industryId" name="">
                                        <option value="">Select Industry</option>
                                        <option *ngFor="let industry of industries" [ngValue]='industry?.id'>
                                            {{industry?.name}}</option>
                                    </select>
                                </div>
                                <div class="fields my-5">
                                    <label for="">{{role}}'s code</label>
                                    <input formControlName="customerCode" type="text"
                                        placeholder="autogenerated immutable">
                                </div>
                                <div class="fields my-5">
                                    <label for="">Tax ID Number (TIN)</label>
                                    <input formControlName="tin" type="text" placeholder="Enter TIN">
                                </div>
                                <div class="fields my-5">
                                    <label for="">RC Number</label>
                                    <input formControlName="rcNumber" type="text" placeholder="Enter RC Number">
                                </div>
                            </div>

                            <div class="my-10 contact py-5">
                                <h2 class="headers">Contact Information</h2>

                                <div class="fields my-5">
                                    <label for="">Country</label>
                                    <select  formControlName="countryId"  name="">
                                        <option value="Select Industry">Select Country
                                        </option>
                                        <option [ngValue]="Nigeria">Nigeria
                                        </option>
                                    </select>
                                </div>
                                <div class="fields my-5">
                                    <label for="">Company Email</label>
                                    <input formControlName="email" type="email" placeholder="Enter Company">
                                </div>
                                <div class="fields my-5">
                                    <label for="">Company Phone No</label>
                                    <input formControlName="mobileNumber" type="text" placeholder="Enter Company Phone No">
                                </div>
                            </div>

                            <div class="my-10 contact py-5">
                                <h2 class="headers">Contact Information</h2>

                                <div class="fields my-5">
                                    <label for="">Tier</label>
                                      <select formControlName="tierId"  name="">
                                        <option value="">Select Tier</option>
                                        <option *ngFor="let tier of tiers" [ngValue]='tier?.id'>
                                            {{tier?.name}}</option>
                                    </select>
                                </div>
                                <div  class="fields my-5">
                                    <label for="">Limit</label>
                                    <input formControlName="limits" type="number" placeholder="Enter Limit">
                                </div>
                                <div *ngIf="role === 'supplier'" class="fields my-5">
                                    <label for="">Minimum Annual Spend</label>
                                    <input formControlName="minimumAnnualSpend" type="number" placeholder="">
                                </div>
                                <div *ngIf="role === 'supplier'" class="fields my-5">
                                    <label for="">Maximum Annual Spend</label>
                                    <input formControlName="maximumAnnualSpend" type="number" placeholder="">
                                </div>
                                <div *ngIf="role === 'supplier'" class="fields my-5">
                                    <label for="">Bank Name</label>
                                    <input formControlName="bankName" type="text" placeholder="">
                                </div>
                                <div *ngIf="role === 'supplier'" class="fields my-5">
                                    <label for="">Bank Account Number</label>
                                    <input formControlName="accountNumber" type="text" placeholder="">
                                </div>
                            </div>

                            <div class="flex-startend">
                                <div class="">
                                    <button (click)="resetForm()" class="fbn-blue-btn ">Cancel</button>
                                    <button class="fbn-fill-blue-btn mx-3">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- END MAIN CONTENT-->
</div>